MAPILLARY_ACCESS_TOKEN=your_mapillary_token_here
ROBOFLOW_API_KEY=your_roboflow_api_key_here
# Backend in Docker reaches inference-cli on the host:
INFERENCE_SERVER_URL=http://host.docker.internal:9001
# If you run backend locally (not Docker), use:
# INFERENCE_SERVER_URL=http://localhost:9001
ROBOFLOW_WORKSPACE=power-house
# https://universe.roboflow.com/power-house/vehicle-detection-7nnx0/model/4
PROJECT_ID=vehicle-detection-7nnx0
MODEL_VERSION=4
# Secondary street-light specialist model
# https://universe.roboflow.com/stret-light/street-light-ci0on/model/1
STREET_LIGHT_WORKSPACE=stret-light
STREET_LIGHT_PROJECT_ID=street-light-ci0on
STREET_LIGHT_MODEL_VERSION=1
ENABLE_STREET_LIGHT_MODEL=true
# Optional detection tuning
DETECTION_IOU_THRESHOLD=0.5
DETECTION_CONFIDENCE_MIN=0.25
VITE_API_URL=http://localhost:8000
